.advantages {
  background-image: url("../img/advantages.png");
  background-color: #dae7f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 562px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages@2x.png");
    background-size: cover;
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/advantages-tablet.png");
    min-height: 588px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-tablet@2x.png");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/advantages-mobile.png");
    min-height: 997px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-mobile@2x.png");
    }
  }
}

.advantages h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 50px;
  margin: 0;

  @media (max-width: $vp-tablet) {
    padding-top: 100px;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;

  @media (max-width: $vp-tablet) {
    column-gap: 30px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.advantages__item {
  background-color: $color-default-white;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 25px;

  @media (max-width: $vp-tablet) {
    padding: 20px;
    padding-right: 15px;
  }
}

.advantages__item p {
  margin-bottom: 0;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.advantages h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding-top: 95px;
  margin: 0;
  margin-top: -15px;

  @media (max-width: $vp-mobile) {
    margin: 0;
    padding-top: 35px;
  }
}
