.booking {
  background-image: url("../img/booking.webp");
  background-color: #c9e3f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 555px;
  background-color: $color-default-white;
  margin-top: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/booking@2x.webp");
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/booking-tablet.webp");
    min-height: 805px;
    margin-top: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/booking-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/booking-mobile.webp");
    margin-top: 65px;
    min-height: 760px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/booking-mobile@2x.webp");
    }
  }
}

.booking__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 140px;
  padding: 50px 164px;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 420px;
    justify-content: center;
    padding-top: 0;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.booking p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  width: 352px;
  margin: 0;

  @media (max-width: $vp-tablet) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  @media (max-width: $vp-mobile) {
    width: 260px;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 35px;
  }
}

.booking__description {
  margin-left: -1px;
}

.booking h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin-top: 163px;
  margin-bottom: 7px;

  @media (max-width: $vp-tablet) {
    font-size: 34px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-top: 87px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 24px;
    line-height: 130%;
    margin-top: 60px;
    margin-bottom: 11px;
  }
}

.booking form {
  width: 403px;
  min-height: 455px;
  height: max-content;
  background-color: $color-default-black;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 42px;

  @media (max-width: $vp-tablet) {
    place-self: center;
  }

  @media (max-width: $vp-mobile) {
    width: 100%;
    max-width: 403px;
    min-height: 460px;
    padding: 40px 30px;
    padding-top: 35px;
  }
}

.booking form > p {
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;

  @media (max-width: $vp-mobile) {
    text-align: center;
      width: 100%;
      line-height: 140%;
  }
}

.booking form ~ p {
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 30px;
}

.booking input {
  width: 100%;
  height: 43px;
  border: none;
  padding: 11px 16px;
  margin-bottom: 20px;
}

.booking input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: fit-content;
}

.booking input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.booking label > span {
  color: $color-default-white;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
}

.booking .button {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0;

  @media (max-width: $vp-tablet) {
    margin-top: 20px;
  }
}
