.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 210px;
  height: 40px;
  box-sizing: border-box;

  color: $color-default-black;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-default-hover;
      color: $color-default-white;
    }
    &:active {
      background-color: $color-default-active;
    }
  }
}
