.cruise {
  display: grid;
  height: 100%;
  padding: 27px 25px;

  @media (max-width: $vp-tablet) {
    padding: 27px 35px;
  }

  @media (max-width: $vp-mobile) {
    padding: 27px 25px;
  }
}

.cruise h3 {
  z-index: 2;
  position: absolute;
  bottom: 23px;
  left: 30px;
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;

  @media (max-width: $vp-tablet) {
    bottom: 28px;
    left: 35px;
  }

  @media (max-width: $vp-mobile) {
    bottom: 18px;
    left: 25px;
  }
}

.cruise h4 {
  color: $color-default-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-top: 12px;
  margin-bottom: -4px;
}

.cruise p {
  color: $color-default-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  margin-top: -2px;
}

.cruise__button {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
}
