.form {
  width: 403px;
  min-height: 455px;
  height: max-content;
  background-color: $color-default-black;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 42px;

  @media (max-width: $vp-tablet) {
    place-self: center;
  }

  @media (max-width: $vp-mobile) {
    width: 290px;
    min-height: 460px;
    padding: 40px 30px;
  }
}

.form__lead {
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 30px;
}

.form__input {
  width: 100%;
  height: 43px;
  border: none;
  padding: 11px 16px;
  margin-bottom: 20px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.form__text {
  color: $color-default-white;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
}

.form__button {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0;
}
