.header {
  background-image: url("../img/header.jpg");
  background-color: #00457f;
  background-repeat: no-repeat;
  background-color: $color-default-black;
  background-size: cover;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header@2x.png");
    background-size: cover;
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/header-tablet.png");
    padding-top: 30px;

    @media (min-resolution: 2dppx) {
      background-image: none;
      background-image: url("../img/header-tablet@2x.png");
      background-size: cover;
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/header-mobile.png");
    padding-top: 20px;
    height: 500px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-mobile@2x.png");
      background-size: cover;
    }
  }
}

.header__wrapper {
  min-height: 650px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.header__logo {
  fill: $color-default-white;

  @media (max-width: $vp-tablet) {
    width: 38px;
    height: 20px;
    margin-top: 10px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 0;
  }
}
