.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  flex-direction: row;
  justify-content: flex-end;
  grid-template-columns: max-content max-content max-content max-content;
  margin-top: -9px;
  margin-right: -9px;
  column-gap: 1px;

  @media (max-width: $vp-tablet) {
    column-gap: 3px;
  }

  @media (max-width: $vp-mobile) {
    display: block;
    position: absolute;
    background-color: $color-default-white;
    top: 0;
    right: 0;
    width: 285px;
    height: 500px;
    padding-top: 83px;
    padding-left: 3px;
  }
}

.main-navigation__item {
  margin-bottom: 10px;
  display: flex;

  @media (max-width: $vp-mobile) {
    padding-left: 14px;
  }
}

.main-navigation__link {
  color: $color-default-white;
  text-decoration: none;
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  &:hover,
  &:focus {
    background-color: $color-default-hover;
    color: $color-default-white;
  }
  &:active {
    background-color: $color-default-active;
  }

  @media (max-width: $vp-tablet) {
    font-size: 14px;
    padding-right: 11px;
    padding-left: 11px;
  }

  @media (max-width: $vp-mobile) {
    background-color: $color-default-white;
    color: $color-default-black;
    width: 240px;
    height: 40px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.main-navigation__toggle {
  background-color: transparent;

  &:active {
    background-color: $color-default-active;
  }
}

.main-navigation--is-open .main-navigation__toggle {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  padding: 30px;
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/svg/menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 2;
  margin-right: -10px;

  @media (min-width: $vp-mobile) {
    display: none;
  }
}

.main-navigation--is-close .header__logo {
  fill: $color-default-white;
  z-index: 1;
  margin-left: 0;
}

.main-navigation--is-open .header__logo {
  fill: $color-default-black;
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 225px;
}

.main-navigation--is-close .main-navigation__toggle {
  border: none;
  display: block;
  position: absolute;
  padding: 30px;
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/svg/menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: -3px;
  margin-top: 1px;

  @media (min-width: $vp-mobile) {
    display: none;
  }
}

@media (max-width: $vp-mobile - 1) {
  .main-navigation--is-close .main-navigation__list {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs {
  position: relative;
}

.main-navigation--nojs .main-navigation__item {
  display: block;
}
