.travel {
  margin-top: 398px;
  display: grid;
    grid-template-columns: 1fr 1fr;
  // grid-template-columns: 512px 560px;
  column-gap: 88px;
  margin-bottom: 120px;

  @media (max-width: $vp-tablet) {
    column-gap: 30px;
    margin-bottom: 92px;
    margin-top: 375px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 245px;
    grid-template-columns: 1fr;
    margin-bottom: 65px;
  }
}

.travel p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-default-black;

  @media (max-width: $vp-mobile) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
  }
}

.travel h2 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;

  @media (max-width: $vp-tablet) {
    margin-bottom: 15px;
    margin-top: -10px;
    font-size: 26px;
    line-height: 140%;
    max-width: 205px;
  }

  @media (max-width: $vp-mobile) {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  }
}

.travel__wrapper {
  align-self: center;
}
