.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-desktop {
    padding: 0 103px;
  }

  @include vp-tablet {
    padding: 0 60px;
  }

  @include vp-mobile {
    padding: 0 25px;
  }
}
